button#perfilLog{
    position: relative;
    background-color: transparent;
    color: #f2522e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-right: 8px;
    font-size: 35px;
    border-radius: 10px;
    border: none;

    &:active {
      cursor: pointer;
      background-color: rgb(97, 176, 139);
    }
  
    @media (min-width: 438px) {
      &:hover {
        background-color: rgb(97, 176, 139);
  
        cursor: pointer;
      }
      &:active {
        cursor: pointer;
        background-color: rgb(162, 214, 191);
      }
    }
  }
  

  